@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MilkyWay</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="">
        <img src="~/images/Kv1.gif" width="245" height="454" border="0" />
    </a>
    <a href="">
        <img src="~/images/Kv2.gif" width="250" height="454" border="0" />
    </a>
    <a href="">
        <img src="~/images/Kv3.gif" width="250" height="457" border="0" />
    </a>
    <a href="">
        <img src="~/images/Kv4.gif" width="250" height="453" border="0" />
    </a>
</div>