@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/hx.css" rel="stylesheet" />
<link href="~/css/cs.css" rel="stylesheet" type="text/css" />

<style>
 .center
{

            width: 650px;
            text-align: center;
            margin: 5px auto 0;

}
    </style>
<div class="center">
    <div id="bkDiv">
        <svg width="100%" height="100%">
            <defs>
                <mask id="theMask">
                    <rect width="100%" height="100%" fill="#fff" />
                    <text x="5" y="65" id="theText" fill="#000">Welcome to Milky Way</text>
                </mask>
            </defs>
            <rect width="100%" height="100%" mask="url(#theMask)" fill="rgb(206,152,84)" />
        </svg>
    </div>
</div>







<div class="text-center">
    <a href="https://localhost:44385/Home/Privacy">
        <img src="~/images/Kv1.gif" width="245" height="454" border="0" / >
    </a>
    <a href="https://localhost:44385/Cars">
        <img src="~/images/Kv2.gif" width="250" height="454" border="0" / >
    </a>
    <a href="https://localhost:44385/Cars">
        <img src="~/images/Kv3.gif" width="250" height="457" border="0" / >
    </a>
    <a href="https://localhost:44385/Home/Privacy">
        <img src="~/images/Kv4.gif" width="250" height="453" border="0" / >
    </a>
</div>


<div class="landi">
    <div class="w7">MilkyWay NewNetwork</div>
    <div class="w8">
        <p>Star river group is an online media company that serves the Chinese community in China and around the world and has become a full-featured online life community for Chinese people all over the world.Bringing together the elites of various industries, dalang net users and high-quality exclusive broadband interactive video products have become an indispensable part of the lives of hundreds of millions of Chinese Internet users.</p>
        <table width="1001" border="1">
            <tr>
                <td width="204"><div align="center" class="STYLE5">About us</div></td>
                <td width="201"><div align="center" class="STYLE5">Company website</div></td>
                <td width="201"><div align="center" class="STYLE5">Advertising business</div></td>

            </tr>
            <tr>
                <td><div align="center" class="STYLE4">Joe</div></td>
                <td><div align="center" class="STYLE4">$1 flowers</div></td>
                <td><div align="center" class="STYLE4">Contact us</div></td>
            </tr>
            <tr>
                <td><div align="center" class="STYLE4">Aesthetic design</div></td>
                <td><div align="center" class="STYLE4">Milky Way group</div></td>
                <td><div align="center" class="STYLE4">Employment opportunities</div></td>
            </tr>

        </table>
    </div>

</div>
<div class="dibu">
    <div class="w9">
        2019 Milky Way group
        ( If you have any Suggestions or find problems, you can send them to Miklyway@ca.com.)
    </div>


</div>


