<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MilkyWay</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    </environment>


    <style type="text/css">
        .menu {
            width: 800px;
            height: 100px;
            /*设置元素水平居中*/
            margin: 50px auto 0;
            /*去除内联元素间隙*/
            font-size: 0;
            /*去掉ul自带的.格式*/
            list-style: none;
            padding: 0;
        }

            .menu li {
                /*将元素转换为行内块元素*/
                display: inline-block;
                width: 100px;
                height: 50px;
                border: 1px solid gold;
                font-size: 16px;
                /*将边框合并*/
                margin-right: 60px;
                text-align: center;
                line-height: 35px;
            }

            .menu a {
                color: pink;
                font-family: STCaiyun;
                /*去掉a元素的下划线*/
                text-decoration: none;
            }
            /*鼠标位于元素位置时改变元素样式*/

            .menu li:hover {
                background-color: orange;
            }

            .menu a:hover {
                color: #fff;
            }

        .htt {
            width: 800px;
            font-size: 50px;
            border: 10px solid gold;
            text-align: center;
            margin: 5px auto 0;
            font-family: STCaiyun;
            border-color: blue;
            letter-spacing: 10px;
        }

    </style>
</head>



<body style="background-image: url('/images/cp.png'); background-size: cover;">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="htt">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MilkyWay</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="menu">

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">AutoShow</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            </ul>

        </div>
    </nav>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - MilkyWay - <a asp-area="" asp-controller="Home" asp-action="Privacy">CarShow</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
